<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<bean id="baseservice" class="common.servicebase.impl.BaseServiceImpl">	
	</bean>
	
	<bean id="userservice" class="find.service.userservice.impl.UserServiceImpl" parent="baseservice">
		<property name="userDAO" ref="userDAO" />
	</bean>
	
	<bean id="classservice" class="find.service.classservice.impl.ClassServiceImpl" parent="baseservice">
		<property name="classroomDAO" ref="classroomDAO" />
	</bean>
	
	<bean id="userclassservice" class="find.service.userclassservice.impl.UserClassServiceImpl" parent="baseservice">
		<property name="userclassDAO" ref="userclassDAO" />
	</bean>
	
	<bean id="fileservice" class="find.service.fileservice.impl.FileServiceImpl" parent="baseservice">
		<property name="fileDAO" ref="fileDAO" />
	</bean>
	
	<bean id="mailservice" class="find.service.mailservice.MailService" >
		<property name="mailSender" ref="mailSender" />  
	</bean>
	</beans>